/* 
    3 valores para borda:
        - espessura: border-width
        - estilo de borda: border-style
        - cor da borda: border-color
*/

h1 {
   /* border-width: 4px;
    border-color: purple;
    border-style: solid;
    border: 4px solid purple; */
    border-width: 10px 8px 6px 4px; /* top right bottom left */
    border-color: purple;
    border-style: inset;
}