body {
    background-color: purple;
}

#container {
    width: 700px;
    background-color: white;
    margin: 10px auto;
    padding: 8px;
    position: relative;
}

.bordar {
    border: 1px solid red;
}

.estatica { /* Fluxo normal */
    position: static;
}

.relativa {
    position: relative;
   /* top: 30px;  
    left: 20px; */
}

.absoluta {
   /* position: absolute;
   top: 50px;
    left: 0; */
    width: 500px;
}

.fixo {
    position: fixed;
    width: 200px;
    height: 120px;
    bottom: 0;
    left: 0;
}