.caixa1 {
    border: 1px solid blue;
    background-color: lightblue;
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
}

.caixa2 {
    border: 1px solid red;
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 0;
}

.caixa3 {
    border: 1px solid green;
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 160px;
    left: 20px;
    z-index: 2;

}